.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #343333;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
  width: 300px;
  border-color: #ffffff;

}


.clickhere:hover {
  font-size: 16px;
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s ease;
  
}

.clickhere {
  margin-right: 10px;
}